@media (max-width: 479px) {

    .header_img-mob {
        width: 320px;
        height: 320px;
        margin: 0 auto;
    }
    .header_title {
        font-size: 64px;
        margin-left: 33px;
    }
    .header_desc {
        font-size: 35px;
        margin-top: 6px;
        margin-left: 24px;
        max-width: 305px;
        margin-bottom: 0;
    }
    .header_text {
        font-size: 6px;
        margin-bottom: 20px;
    }
    .header_reclama {
        font-size: 9px;
        margin-left: 0;
    }
    .header_box {
        padding: 0 10px;
    }
    .header_text {
        padding-left: 5px;
    }
    .header_text:before {
        left: 0;
    }
    .header_block {
        padding: 0 10px;
    }
    p.mb0 {
        margin-bottom: 0;
    }
    .header_wrap {
        padding: 0 10px;
    }






}
