@media print, (max-width: 767px) {

    .header_logo-right {
        width: 139px;
        height: 113px;
        margin-top: -23px;
        margin-left: -23px;
    }
    .header_logo-left {
        width: 102px;
        height: 23px;
    }
    header {
        padding-top: 23px;
        padding-bottom: 40px;
    }
    .header_title {
        font-size: 94px;
        margin-left: 33px;
    }
    .header_desc {
        font-size: 50px;
        margin-top: 6px;
        margin-left: 24px;
        max-width: 560px;
        margin-bottom: 0;
    }
    .header_img-mob {
        width: 400px;
        height: 400px;
    }
    .header_text {
        font-size: 12px;
        margin-bottom: 20px;
    }
    .header_reclama {
        font-size: 16px;
    }
    .header_img-mob {
        width: 420px;
        height: 420px;
        margin-right: auto;
        margin-left: 0;
    }
    .header_box-title {
        font-size: 26px;
        margin-bottom: 12px;
    }
    .header_box {
        margin-bottom: 22px;
        margin-top: 43px;
    }
    .header_box-text {
        font-size: 22px;
        margin-bottom: 20px;
    }
    .header_block {
        font-size: 16px;
    }
    .test_text {
        font-size: 26px;
        margin-bottom: 25px;
    }
    .test_link a {
        width: 236px;
        height: 40px;
        font-size: 22px;
    }
    .first_section h2 {
        font-size: 22px;
        margin-bottom: 25px;
    }
    .first_section p {
        font-size: 16px;
        margin-bottom: 25px;
    }
    .first_section {
        padding: 25px 0 30px;
    }
    .first_section img.fl {
        margin: 0 auto 30px;
        width: 300px;
        height: 316px;
    }
    .describe + .describe {
        margin-top: 23px;
    }
    .describe h2 {
        font-size: 22px;
        margin-bottom: 15px;
    }
    .describe p {
        font-size: 16px;
    }
    .describe p a {
        font-size: 16px;
    }
    .describe li a {
        font-size: 16px;
    }
    .describe_wrap {
        padding: 16px 20px;
    }
    .describe img.fr {
        margin: 0 auto 40px;
        width: 300px;
        height: 300px;
    }
    .describe img.fl {
        margin: 0 auto 40px;
        width: 300px;
        height: 300px;
    }
    .describe h3 {
        font-size: 18px;
        margin-bottom: 18px;
    }
    .describe ul li {
        font-size: 16px;
        margin-bottom: 25px;
    }
    .describe ul {
        padding-left: 20px;
    }
    .footer_text {
        font-size: 12px;
    }
    footer {
        padding-top: 20px;
        padding-bottom: 30px;
    }
    .header_block {
        margin-bottom: 27px;
    }
    .info-block {
        padding-top: 35px;
        padding-bottom: 30px;
    }
    .test {
        padding: 45px 0 50px;
    }

  
}

