@media print, (max-width: 1023px) {

  .header_img-mob {
    display: block;
    width: 750px;
    height: 750px;
    margin: 0 auto;
  }
  .header_img-mob img {
    width: 100%;
    height: 100%;
  }
  .header_img {
    display: none;
  }
  .header_wrap {
    flex-direction: column;
  }
  .header_title {
    font-size: 148px;
    margin-left: 60px;
  }
  .header_desc {
    font-size: 78px;
    margin-top: 8px;
    margin-left: 50px;
    margin-bottom: -30px;
    max-width: 690px;
  }
  .header_info {
    max-width: 100%;
  }
  .header_logo-right {
    width: 319px;
    height: 260px;
    margin-top: -59px;
  }
  .header_logo-right img {
    width: 100%;
    height: 100%;
  }
  .header_logo-left {
    width: 235px;
    height: 52px;
  }
  .header_logo-left img {
    width: 100%;
    height: 100%;
  }
  .header_top {
    margin-bottom: -8px;
  }
  .header_text {
    font-size: 14px;
    margin-bottom: 40px;
  }
  .header_reclama {
    font-size: 20px;
  }
  .header_box {
    margin-bottom: 22px;
    margin-top: 100px;
  }
  .header_box-title {
    font-size: 60px;
    margin-bottom: 12px;
  }
  .header_box-text {
    font-size: 52px;
    line-height: 0.93;
    letter-spacing: 0;
    margin-bottom: 45px;
  }
  .header_block {
    padding: 0;
    border-radius: 0px;
    background: none;
    font-size: 38px;
    margin-bottom: 60px;
  }
  .test_text {
    font-size: 60px;
    line-height: 1;
    margin-bottom: 60px;
  }
  .test_link a {
    width: 543px;
    height: 92px;
    font-size: 50px;
  }
  header {
    padding-bottom: 80px;
  }
  .first_section h2 {
    font-size: 50px;
    line-height: 1;
  }
  .describe img.fr {
    margin: 0 auto 60px;
    float: none;
    display: block;
    width: 531px;
    height: 531px;
  }
  .describe img.fl {
    margin: 0 auto 60px;
    float: none;
    display: block;
    width: 531px;
    height: 531px;
  }
  .first_section img.fl {
    margin: 0 auto 60px;
    float: none;
    display: block;
    width: 562px;
    height: 592px;
  }
  .first_section h2 {
    margin-bottom: 50px;
  }
  .first_section p {
    font-size: 38px;
  }
  .first_section p {
    margin-bottom: 45px;
  }
  .describe h2 {
    font-size: 50px;
    margin-left: 0;
  }
  .info-block {
    padding-top: 70px;
    padding-bottom: 40px;
  }
  p.mb0 {
    margin-bottom: 0;
  }
  .describe p {
    font-size: 38px;
  }
  .describe p a {
    font-size: 38px;
  }
  .describe ul li a {
    font-size: 38px;
  }
  .describe_wrap {
    padding: 29px 35px 40px;
  }
  .describe h3 {
    font-size: 42px;
    margin-bottom: 25px;
  }
  .describe ul li {
    font-size: 38px;
    line-height: 1.2;
  }
  .test {
    padding: 97px 0 107px;
  }
  .footer_text {
    font-size: 28px;
  }
  footer {
    padding-top: 55px;
  }
  .test_text br:nth-child(1) {
    display: block;
  } 






}
