/* For old browsers */
@supports (not(--css: variables)) {
    .supports_error {
        display: flex !important;
    }
}

/* For IE */
@media screen and (-ms-high-contrast: active),
(-ms-high-contrast: none) {
    .supports_error {
        display: flex !important;
    }
}




@font-face {
    font-family: 'Futura';
    src: url('../fonts/uturaPT-Book.eot');
    src: local('Futura PT Book'), local('FuturaPT-Book'),
        url('../fonts/FuturaPT-Book.eot?#iefix') format('embedded-opentype'),
        url('../fonts/FuturaPT-Book.woff') format('woff'),
        url('../fonts/FuturaPT-Book.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}


@font-face {
    font-family: 'Futura';
    src: url('../fonts/FuturaPT-BookObl.eot');
    src: local('Futura PT Book Oblique'), local('FuturaPT-BookObl'),
        url('../fonts/FuturaPT-BookObl.eot?#iefix') format('embedded-opentype'),
        url('../fonts/FuturaPT-BookObl.woff2') format('woff2'),
        url('../fonts/FuturaPT-BookObl.woff') format('woff'),
        url('../fonts/FuturaPT-BookObl.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}


@font-face {
    font-family: 'Futura';
    src: url('../fonts/FuturaPT-Demi.eot');
    src: local('Futura PT Demi'), local('FuturaPT-Demi'),
        url('../fonts/FuturaPT-Demi.eot?#iefix') format('embedded-opentype'),
        url('../fonts/FuturaPT-Demi.woff2') format('woff2'),
        url('../fonts/FuturaPT-Demi.woff') format('woff'),
        url('../fonts/FuturaPT-Demi.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}


@font-face {
    font-family: 'Futura';
    src: url('../fonts/FuturaPT-Medium.eot');
    src: local('Futura PT Medium'), local('FuturaPT-Medium'),
        url('../fonts/FuturaPT-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/FuturaPT-Medium.woff') format('woff'),
        url('../fonts/FuturaPT-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}


@font-face {
    font-family: 'Futura';
    src: url('../fonts/FuturaPT-Bold.eot');
    src: local('Futura PT Bold'), local('FuturaPT-Bold'),
        url('../fonts/FuturaPT-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/FuturaPT-Bold.woff') format('woff'),
        url('../fonts/FuturaPT-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}



@font-face {
    font-family: 'FreeSet';
    src: url('../fonts/FreeSetBoldC.eot');
    src: local('FreeSetBoldC'),
        url('../fonts/FreeSetBoldC.woff2') format('woff2'),
        url('../fonts/FreeSetBoldC.woff') format('woff'),
        url('../fonts/FreeSetBoldC.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Helios';
    src: url('../fonts/HeliosCond-Regular.eot');
    src: local('HeliosCond-Regular'),
        url('../fonts/HeliosCond-Regular.woff') format('woff'),
        url('../fonts/HeliosCond-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: local('OpenSans-CondLight'),
        url('../fonts/OpenSans-CondLight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'NotoSans';
    src: local('NotoSans-ExtraCondensedBoldItalic'),
        url('../fonts/NotoSans-ExtraCondensedBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}





/*------------------
    Reset styles
------------------*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

*:before,
*:after {
    box-sizing: border-box;
}

html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;

    -webkit-tap-highlight-color: transparent;
    -webkit-overflow-scrolling: touch;
    text-rendering: optimizeLegibility;
    text-decoration-skip: objects;
}

img {
    border-style: none;
}

textarea {
    overflow: auto;
}

input,
textarea,
input:active,
textarea:active,
button {
    margin: 0;

    -webkit-border-radius: 0;
    border-radius: 0;
    outline: none transparent !important;
    box-shadow: none;

    -webkit-appearance: none;
    appearance: none;
    -moz-outline: none !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    margin: 0;

    -webkit-appearance: none;
}

input[type=number] {
    -moz-appearance: textfield;
}

:focus {
    outline: 0;
}

:hover,
:active {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-touch-callout: none;
}


::-ms-clear {
    display: none;
}



/*-------------------
    Global styles
-------------------*/
:root {
    --scroll_width: 17px;
    --text_color: #000;
    --font_size: 26px;
    --font_size_title: 32px;
    --font-family: 'Futura';
}


::selection {
    color: #fff;
    background: #8FDBB7;
}

::-moz-selection {
    color: #fff;
    background: #8FDBB7;
}


.clear {
    clear: both;
}

.left {
    float: left;
}

.right {
    float: right;
}

html {
    height: 100%;
    min-height: -moz-available;
    min-height: -webkit-fill-available;
    min-height: fill-available;
}


body {
    height: 100%;
    min-height: -moz-available;
    min-height: -webkit-fill-available;
    min-height: fill-available;
    font-family: var(--font-family);
    font-weight: 400;
}


button {
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    display: inline-block;
    cursor: pointer;
    vertical-align: top;
    border: none;
    background: none;
}

.wrap {
    position: relative;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    min-width: 360px;
    min-height: 100%;
    background: #ffebb6;
}


.main {
    flex: 1 0 auto;
}


.cont {
    width: 100%;
    max-width: 1240px;
    margin: 0 auto;
    padding: 0 20px;
    position: relative;
}

.lozad {
    transition: opacity .5s linear;

    opacity: 0;
}

.lozad.loaded {
    opacity: 1;
}


.row {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
}



.overlay {
    position: fixed;
    z-index: 100;
    top: 111px;
    left: 0;
    display: none;
    width: 100%;
    height: 100%;
    opacity: .65;
    background: #000;
}



header {
    background: url(../images/dark3.png);   
    background-position: center;
    background-size: cover;
    padding-bottom: 114px;
    padding-top: 38px;
}
.header_logo-right {
   margin-left: -63px;
   margin-top: -48px;
} 
header .cont {
    max-width: 1040px;
}
.header_top {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 25px;
}
.header_wrap {
    display: flex;
    position: relative;
    z-index: 1;
}
.header_title {
    color: rgb(255, 255, 255);
    font-family: 'NotoSans';
    font-size: 96px;
    font-weight: 400;
    letter-spacing: -1px;
    position: relative;
    text-shadow: 0 0 70px #4a48f9;
    margin-left: 10px;
}
.header_desc {
    color: rgb(255, 255, 255);
    font-family: 'NotoSans';
    font-size: 52px;
    font-weight: 400;
    line-height: 0.93;
    margin-bottom: 105px;
    text-shadow: 0 0 70px #4a48f9;
    margin-top: 5px;
    letter-spacing: -0.52px;
}
.header_img {
    position: absolute;
    width: 1136px;
    height: 669px;
    right: -205px;
    bottom: -87px;
    z-index: -1;
}
.header_info {
    max-width: 440px;
}
.header_text {
    color: rgb(255, 255, 255);
    font-family: "Roboto Condensed";
    font-size: 10px;
    font-weight: 400;
    line-height: 1.2;
    margin-bottom: 24px;
    text-transform: uppercase;
    position: relative;
    padding-left: 10px;
    letter-spacing: 0.68px;
}
.header_text:before {
    position: absolute;
    content: "";
    width: 1px;
    height: 3px;
    left: 4px;
    top: 0;
    background: #fff;
}
.header_reclama {
    color: rgb(141, 199, 254);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.2;
    font-family: "Roboto Condensed";
    margin-left: 4px;
}
.header_box {
    margin-bottom: 45px;
    margin-top: 54px;
}
.header_box-title {
    color: rgb(141, 199, 254);
    font-size: 49px;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0.32px;
}
.header_box-text {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.2;
    color: #fff;
    margin-top: -4px;
    letter-spacing: 0.6px;
}
.header_block {
    padding: 39px 50px 45px; 
    border-radius: 8px;
    background: rgb(22, 38, 76);
    color: rgb(255, 255, 255);
    font-size: 26px;
    font-weight: 400;
    line-height: 1.2;
    margin-bottom: 52px;
    font-weight: 500;
}
.header_img-mob {
    display: none;
}




.first_section {
    padding: 45px 0 60px;
    background: #fff;
}
.first_section .cont {
    max-width: 1040px;
}
.first_section h2 {
    color: rgb(25, 63, 161);
    font-family: "Futura";
    font-size: 38px;
    font-weight: 700;
    letter-spacing: 0px;
    margin-bottom: 45px;
    line-height: 1.1;
}
.first_section p {
    font-size: 26px;
    font-weight: 400;
    line-height: 1.2;
    margin-bottom: 30px;
}
.first_section img.fr {
    float: right;
    margin-left: 60px;
    width: 471px;
    height: 492px;
}
.first_section img.fl {
    float: left;
    margin-right: 60px;
    width: 471px;
    height: 492px;
}
  


.test {
    padding: 82px 0 80px;
    background: url(../images/dark2.png );
    background-position: center;
}
.test_text {
    color: rgb(141, 199, 254);
    font-size: 42px;
    font-weight: 600;
    line-height: 1.1;
    text-align: center;
    margin-bottom: 45px;
}
.test_link {
    display: flex;
    justify-content: center;
}
.test_link a {
    text-decoration: none;
    width: 346px;
    height: 81px;
    border-radius: 40.5px;
    background: rgb(242, 30, 140);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 36px;
    font-weight: 600;
    letter-spacing: 1.8px;
    text-align: left;
    text-transform: uppercase;
    color: #ffffff;
    transition: all .3s;
}
.test_link a:hover {
    background-color:  rgb(216, 1, 112);
}
.test_text br:nth-child(1) {
    display: none;
  }




.info-block {
    padding-top: 80px;
    padding-bottom: 90px;
    background: url(../images/background.png);
    background-repeat: repeat;
    background-position: center center;
}
.info-block .cont {
    max-width: 1130px;
}





.describe + .describe {
    margin-top: 70px;
}
.describe h2 {
    color: rgb(25, 63, 161);
    font-family: "Futura";
    font-size: 38px;
    font-weight: 700;
    letter-spacing: 0px;
    margin-bottom: 35px;
    margin-left: 48px;
}
.describe p {
    font-size: 26px;
    font-weight: 400;
    line-height: 1.2;
    margin-bottom: 30px;
}
.describe ul li {
    font-size: 26px;
    font-weight: 400;
    line-height: 31.2px;
    margin-bottom: 35px; 
}
.describe ul li::marker {
	color: rgb(242, 30, 140);
	font-size: 26px;
}
.describe h3 {
    color: rgb(25, 63, 161);
    font-size: 26px;
    font-weight: 700;
    margin-bottom: 10px;
    text-transform: uppercase;
}
.describe p a {
    text-decoration: none;
    color: rgb(242, 30, 140);
    font-weight: 700;
}
.describe ul li a {
    text-decoration: none;
    color: rgb(242, 30, 140);
    font-weight: 700;
}
p.mb0 {
    margin-bottom: 0;
}
.describe img.fr {
    float: right;
    margin-left: 60px;
    width: 473px;
    height: 473px;
    margin-bottom: 30px;
}
.describe img.fl {
    float: left;
    margin-right: 60px;
    width: 473px;
    height: 483px;
    margin-bottom: 30px;
}
.describe_wrap {
    padding: 25px 45px 40px;
    border-radius: 8px;
    background: #fff;
}







footer {
    background: #fff;
    padding-top: 40px;
    padding-bottom: 80px;
    position: relative;
    z-index: 55;
}
footer .cont {
    max-width: 1040px;
}
.footer_text {
    font-size: 18px;
    line-height: 1.2;
    font-weight: 400;
    color: #000;
}


